nav {
  ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
  }
}

code {
  display: inline-block;

  padding: 1px 5px;

  background: #dfe0e1;

  font-size: .8rem;
}

pre {
  @extend .overflow-auto;

  margin: 5px 0;

  background: #dfe0e1;

  code {
    display: block;
    padding: 5px;
  }
}

.clear-both {
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-ellipsis {
  @extend .overflow-hidden;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

