@import 'common';
@import 'flexbox';
@import 'responsive';

$color: #636b6f;
$secondary-color: #fafafb;
$border-color: rgba(12,13,14,.15);
$hover-color: rgba(239,240,241,0.75);

body {
  @extend .flex-column;

  margin: 0 auto;
  height: 100vh;

  color: $color;
  font-family: 'Open Sans Condensed', sans-serif;
}

.container {
  padding: 0 1em;
}

.landing-title {
  @extend .flex-column;
  @extend .perfect-center;

  margin-top: 0;

  font-family: 'Fredericka the Great', cursive;
  font-size: 42px;
  font-weight: 100;

  strong {
    font-weight: 300;
  }
}

@media (min-width: $screen-sm-min) {

  .landing-title {
    font-size: 84px;
  }

}

a {
  color: red;
}

a:hover {
  text-decoration: none;
}

a.sort {
  margin-right: .3em;
  padding: 0 .5em;

  color: initial;
  text-decoration: none;

  &.chosen {
    position: relative;
    z-index: 1;

    background: white;
    border: solid 1px $border-color;
    border-bottom: none;
  }

  &:not(.chosen):hover {
    background: $hover-color;
  }
}

.gds-nav-bar {
  background: $secondary-color;
  box-shadow: 0 1px 0 $border-color;
  font-size: .8em;

  ul {
    @extend .container;
    @extend .flex-row;
    @extend .align-center;
  }

  li {
    @extend .flex-row;
    @extend .align-center;
  }

  .right {
    @extend .flex-1;
    @extend .justify-end;
  }

  $a_height: 2.5em;

  a {
    display: inline-block;
    padding: .5em 1em;
    height: $a_height;

    color: $color;
    font-weight: 700;
    letter-spacing: .1rem;
    line-height: $a_height;
    text-decoration: none;
    text-transform: uppercase;
  }

  a.gds {
    @extend .overflow-hidden;

    padding-left: $a_height;
    padding-right: 0;
    width: 0;

    background-image: url('../images/simplon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  a:hover {
    background-color: $hover-color;
  }
}

@media (max-width: $screen-sm-min) {

  nav a {
    padding: .5em .3em;
    letter-spacing: .05rem;
  }

}

main {
  @extend .container;
  @extend .flex-1;
  @extend .overflow-auto;

  padding-top: 1em;
  max-width: $screen-sm-min;
}

form:not([class~=button-only]) {
  @extend .flex-column;
  @extend .align-stretch;

  margin: 1.5em auto;
  width: 100%;
  max-width: $screen-xs-min;

  .group {
    @extend .flex-column;
    @extend .align-stretch;

    margin-bottom: 1em;

    label {
      margin-bottom: .3em;
    }

    label::after {
      content: ' :';
    }
  }

  .row {
    @extend .flex-row;
    @extend .justify-space-around;
    @extend .align-center;

    margin-bottom: 1em;
  }

  .help-block {
    font-weight: 700;
  }
}

button {
  margin: 0 .2em;
  border: solid 1px $border-color;
  border-radius: 0;
  min-width: 2em;
  height: 2em;

  background: $secondary-color;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: .9em;
}

button:hover {
  background: $hover-color;
}

.pagination {
  @extend .flex-row;
  @extend .align-center;

  padding: 1em 0;

  li {
    margin: 0 .5em;
  }
}

.title {
  margin: 0;

  font-size: 1em;
  letter-spacing: .1rem;
  line-height: 2;
}

.next-to-title {
  @extend .title;
  @extend .float-right;

  letter-spacing: initial;
}

article {
  padding: .5em;

  border-bottom: solid 1px $border-color;

  &:not(.showing):first-of-type {
    border-top: solid 1px $border-color;
  }

  &.showing {
    h1 {
      margin-left: -.5em;
      margin-bottom: .5em;
    }

    .title {
      margin-top: -.5em;
    }
  }
}

.name {
  font-style: italic;
  font-weight: normal;
  letter-spacing: initial;

  &::before {
    content: "(";
  }

  &::after {
    content: ")";
  }
}

.votes {
  @extend .flex-row;
  @extend .align-center;

  font-size: 1.4em;

  button {
    border-radius: 50%;
  }

  .voted {
    border: solid 2px red;

    color: red;
    font-weight: 700;
  }
}

.comments {
  max-width: $screen-xs-min;

  section,
  > p {
    border-bottom: solid 1px $border-color;
    padding: .5em;

    background: #fffbec;
  }
}

.markdown-preview {
  margin-bottom: 1em;
  border-top: dotted 1px $border-color;
  border-bottom: dotted 1px $border-color;
}

aside:not(.comments) {
  @extend .flex-row;
  @extend .justify-end;
  @extend .align-center;

  padding: .5em 0;

  font-size: .8em;
  font-style: italic;
  font-weight: 700;
}

.status {
  &::before {
    content: '(';
  }

  &::after {
    content: ')';
  }

  &.pending-publication {
    color: orange;
  }

  &.published {
    color: green;
  }
}
