nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

code {
  display: inline-block;
  padding: .1em .2em;
  background: #dfe0e1;
  font-size: .8rem;
}

pre code {
  display: block;
  padding: 1em;
}

.clear-both {
  clear: both;
}

.float-left {
  float: left;
}

.float-right, .next-to-title {
  float: right;
}

.overflow-auto, main {
  overflow: auto;
}

.overflow-hidden, .overflow-ellipsis, .gds-nav-bar a.gds {
  overflow: hidden;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.flex-container, .flex-row, .gds-nav-bar ul, .gds-nav-bar a, form:not([class~=button-only]) .row, .pagination, .votes, aside:not(.comments), .flex-column, body, .landing-title, form:not([class~=button-only]), form:not([class~=button-only]) .group, .perfect-center, .gds-nav-bar .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-row, .gds-nav-bar ul, .gds-nav-bar a, form:not([class~=button-only]) .row, .pagination, .votes, aside:not(.comments) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column, body, .landing-title, form:not([class~=button-only]), form:not([class~=button-only]) .group {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-1, .gds-nav-bar .right, main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.justify-center, .perfect-center, .landing-title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-end, .gds-nav-bar .right, aside:not(.comments) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-space-around, form:not([class~=button-only]) .row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-center, .perfect-center, .landing-title, .gds-nav-bar ul, .gds-nav-bar a, form:not([class~=button-only]) .row, .pagination, .votes, aside:not(.comments) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-stretch, form:not([class~=button-only]), form:not([class~=button-only]) .group {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

body {
  font-size: 14px;
}

p {
  margin: 0;
  line-height: 1.65;
}

.container, .gds-nav-bar ul, main {
  box-sizing: border-box;
  margin: auto;
  width: 100%;
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
  p {
    line-height: 1.5;
  }
  .container, .gds-nav-bar ul, main {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container, .gds-nav-bar ul, main {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container, .gds-nav-bar ul, main {
    width: 1170px;
  }
}

body {
  margin: 0 auto;
  height: 100vh;
  color: #636b6f;
  font-family: 'Open Sans Condensed', sans-serif;
}

.container, .gds-nav-bar ul, main {
  padding: 0 1em;
}

.landing-title {
  margin-top: 0;
  font-family: 'Fredericka the Great', cursive;
  font-size: 42px;
  font-weight: 100;
}

.landing-title strong {
  font-weight: 300;
}

@media (min-width: 768px) {
  .landing-title {
    font-size: 84px;
  }
}

a {
  color: red;
}

a:hover {
  text-decoration: none;
}

a.sort {
  margin-right: .3em;
  padding: 0 .5em;
  color: initial;
  text-decoration: none;
}

a.sort.chosen {
  position: relative;
  z-index: 1;
  background: white;
  border: solid 1px rgba(12, 13, 14, 0.15);
  border-bottom: none;
}

a.sort:not(.chosen):hover {
  background: rgba(239, 240, 241, 0.75);
}

.gds-nav-bar {
  background: #fafafb;
  box-shadow: 0 1px 0 rgba(12, 13, 14, 0.15);
  font-size: .8em;
}

.gds-nav-bar a {
  padding: .5em 1em;
  height: 2.5em;
  color: #636b6f;
  font-weight: 700;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.gds-nav-bar a.gds {
  padding-left: 2.5em;
  padding-right: 0;
  width: 0;
  background-image: url("../images/simplon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.gds-nav-bar a:hover {
  background-color: rgba(239, 240, 241, 0.75);
}

@media (max-width: 768px) {
  nav a {
    padding: .5em .3em;
    letter-spacing: .05rem;
  }
}

main {
  padding-top: 1em;
  max-width: 768px;
}

form:not([class~=button-only]) {
  margin: 1.5em auto;
  width: 100%;
  max-width: 480px;
}

form:not([class~=button-only]) .group {
  margin-bottom: 1em;
}

form:not([class~=button-only]) .group label {
  margin-bottom: .3em;
}

form:not([class~=button-only]) .group label::after {
  content: ' :';
}

form:not([class~=button-only]) .row {
  margin-bottom: 1em;
}

form:not([class~=button-only]) .help-block {
  font-weight: 700;
}

button {
  margin: 0 .2em;
  border: solid 1px rgba(12, 13, 14, 0.15);
  border-radius: 0;
  min-width: 2em;
  height: 2em;
  background: #fafafb;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: .9em;
}

button:hover {
  background: rgba(239, 240, 241, 0.75);
}

.pagination {
  padding: 1em 0;
}

.pagination li {
  margin: 0 .5em;
}

.title, .next-to-title {
  margin: 0;
  font-size: 1em;
  letter-spacing: .1rem;
  line-height: 2;
}

.next-to-title {
  letter-spacing: initial;
}

article {
  padding: .5em;
  border-bottom: solid 1px rgba(12, 13, 14, 0.15);
}

article:not(.showing):first-of-type {
  border-top: solid 1px rgba(12, 13, 14, 0.15);
}

article.showing h1 {
  margin-left: -.5em;
  margin-bottom: .5em;
}

article.showing .title, article.showing .next-to-title {
  margin-top: -.5em;
}

.votes {
  font-size: 1.4em;
}

.votes button {
  border-radius: 50%;
}

.votes .voted {
  border: solid 2px red;
  color: red;
  font-weight: 700;
}

.comments {
  max-width: 480px;
}

.comments section,
.comments > p {
  border-bottom: solid 1px rgba(12, 13, 14, 0.15);
  padding: .5em;
  background: #fffbec;
}

.markdown-preview {
  margin-bottom: 1em;
  border-top: dotted 1px rgba(12, 13, 14, 0.15);
  border-bottom: dotted 1px rgba(12, 13, 14, 0.15);
}

aside:not(.comments) {
  padding: .5em 0;
  font-size: .8em;
  font-style: italic;
  font-weight: 700;
}
