nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

.clear-both {
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.overflow-auto, main {
  overflow: auto;
}

.overflow-hidden, .overflow-ellipsis, .gds-nav-bar a.gds {
  overflow: hidden;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.flex-container, .flex-row, .gds-nav-bar ul, .gds-nav-bar a, form .row, .pagination, .flex-column, body, .landing-title, form, form .group, .perfect-center, .gds-nav-bar .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-row, .gds-nav-bar ul, .gds-nav-bar a, form .row, .pagination {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column, body, .landing-title, form, form .group {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-1, .gds-nav-bar .right, main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.justify-center, .perfect-center, .landing-title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-end, .gds-nav-bar .right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-space-between, form .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-center, .perfect-center, .landing-title, .gds-nav-bar ul, .gds-nav-bar a, .pagination {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-stretch, form, form .group {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

body {
  margin: 0 auto;
  height: 100vh;
  color: #636b6f;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
}

p {
  margin: 0;
  line-height: 1.65;
}

.container, .gds-nav-bar ul, main {
  box-sizing: border-box;
  margin: auto;
  padding: 0 1em;
  width: 100%;
}

.landing-title {
  margin-top: 0;
  font-family: 'Fredericka the Great', cursive;
  font-size: 42px;
  font-weight: 100;
}

.landing-title strong {
  font-weight: 300;
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
  p {
    line-height: 1.5;
  }
  .container, .gds-nav-bar ul, main {
    width: 750px;
  }
  .landing-title {
    font-size: 84px;
  }
}

@media (min-width: 992px) {
  .container, .gds-nav-bar ul, main {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container, .gds-nav-bar ul, main {
    width: 1170px;
  }
}

a {
  color: #f00;
}

a:hover {
  text-decoration: none;
}

.gds-nav-bar {
  background: #fafafb;
  box-shadow: 0 1px 0 rgba(12, 13, 14, 0.15);
  font-size: .8em;
}

.gds-nav-bar a {
  padding: .5em 1em;
  height: 2.5em;
  color: #636b6f;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.gds-nav-bar a.gds {
  padding-left: 2.5em;
  padding-right: 0;
  width: 0;
  background-image: url("../images/simplon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.gds-nav-bar a:hover {
  background-color: rgba(239, 240, 241, 0.75);
}

@media (max-width: 768px) {
  nav a {
    padding: .5em .3em;
    letter-spacing: .05rem;
  }
}

main {
  padding-top: 1em;
}

form {
  margin: 1.5em auto;
  width: 100%;
  max-width: 480px;
}

form .group {
  margin-bottom: 1em;
}

form .group label {
  margin-bottom: .3em;
}

form .group label::after {
  content: ' :';
}

form .row {
  margin-bottom: 1em;
}

form .help-block {
  font-weight: bold;
}

.pagination li {
  margin: 0 .5em;
}

.title {
  margin: 0;
  font-size: 1em;
  letter-spacing: .1rem;
  line-height: 2;
}

article {
  padding: .5em;
}

article:not(:first-of-type) {
  border-top: solid 1px #e4e6e7;
}

.comments section {
  padding: .5em;
  border-top: solid 1px #e4e6e7;
  background: #fffbec;
}

.button {
  line-height: 2;
}
